:root {
  --color-primary: #004693;
  --color-secondary: #1667b9;
  --color-tertiary: #2b87de;
}

.clamp-text-personalizado {
  display: -webkit-box; /* Soporte para WebKit */
  -webkit-line-clamp: 7; /* Mostrar 15 líneas */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  /* Respaldo para Firefox */
  display: block;
  max-height: calc(1.5em * 15); /* Ajusta según el alto de línea */
  line-height: 1.5em; /* Ajuste del espaciado entre líneas */
}
.splide__arrow {
  z-index: 10;
}

.splide__arrow--prev {
  left: -40px;
}

.splide__arrow--next {
  right: -15px;
}

.splide__pagination--custom {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.splide__pagination--custom .splide__pagination__page {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
}

.splide__pagination--custom .splide__pagination__page.is-active {
  background-color: #333;
}
/**!▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀!**/
/** Estilos generales para las tarjetas de ENLACES DE INTERÉS **/
.custom-card {
  position: relative;
  z-index: 1;
}

.custom-card:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: var(--color-primary);
  z-index: -1;
  border-radius: inherit;
}

.custom-card:hover,
.custom-card:focus {
  color: white;
}

.custom-card:hover:before,
.custom-card:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.custom-card:active {
  transform: scale(0.9);
}
/** Estilos generales para las tarjetas de ENLACES DE INTERÉS **/
/**!▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀!**/
/** Estilos generales para SLIDER DE SERVICIOS CIUDADANOS **/
.circle-card {
  border-radius: 50%;
  overflow: hidden;
  transition: border-radius 0.5s ease, height 0.5s ease, width 0.5s ease;
  height: 200px;
  width: 200px;
  position: relative;
}

.circle-card .more-info-button {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: 16px;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.service_group:hover .circle-card {
  border-radius: 16px;
  height: 280px;
  width: 220px;
}

.service_group:hover .circle-card .more-info-button {
  opacity: 1;
  visibility: visible;
}

.button-with-border {
  position: relative;
  display: inline-block;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid var(--color-primary);
  border-radius: 10px;
  color: var(--color-primary);
  text-decoration: none;
  overflow: hidden;
  transition: color 0.5s;
  z-index: 1;
}

.button-with-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: var(--color-primary);
  transition: width 0.5s;
  z-index: -1;
}

.service_group:hover .button-with-border::before {
  width: 100%;
}

.service_group:hover .button-with-border {
  color: white;
}
/** Estilos generales para SLIDER DE SERVICIOS CIUDADANOS **/
/**!▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀!**/
/** Estilos generales para INFORMACIÓN MUNICIPIO Y MAPA **/
.border-animation {
  position: relative;
  padding: 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.border-animation::before,
.border-animation::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  border: 3.5px solid white;
  transition: transform 0.5s ease;
}

.border-animation::before {
  top: 0;
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform: scaleY(0);
  transform-origin: top;
}

.border-animation::after {
  bottom: 0;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transform: scaleY(0);
  transform-origin: bottom;
}

.border-animation:hover::before {
  transform: scaleY(1);
}

.border-animation:hover::after {
  transform: scaleY(1);
}

/** Estilos generales para INFORMACIÓN MUNICIPIO Y MAPA **/

.tag-list{
  margin: 0;
  padding-inline: 0;
  list-style: none;
}
.tas-list li {
  padding: 1rem;
  background-color: #2b87de;
  border-radius: 0.5rem
}
.scroller{
  width: 100%;
  overflow: hidden;

}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  animation-play-state: running; /* Añadir esta línea */
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 80s) var(--_animation-direction, forwards) linear infinite;
}
.scroller[data-animated="true"]{
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}
.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 100s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}